@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Unica+One&display=swap');

.all {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  margin-top: 10%;
}

.titleBox {
  padding: 2px;
  margin: auto;
  width: 80%;
  max-width: 300px;
  background-color: #af7eeb;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px 10px 0 0;
  align-items: center;
  text-align: center;
}

.title {
  font-size: 25px;
  color: white;
}

.boxEvent {
  margin: auto;
  width: 80%;
  max-width: 300px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.box {
  width: 95%;
  margin: auto;
  display: flex;
  align-items: center;
  min-height: 40px;
  background-color: white;
  font-size: 15px;
  text-transform: lowercase;
  transition: all 0.5s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding-left: 5px;
  padding-right: 5px;
  transform-origin: center;
  z-index: 1;
}

.box:hover {
  background-color: rgb(231, 228, 239);
  border-radius: 20px;
  transform: scale(1.2);
  -webkit-font-smoothing: subpixel-antialiased;
  backface-visibility: hidden;
  z-index: 2;
  
}

.svg {
  width: 40px;
}

.todoText {
  /*to avoid blue highlight*/
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 5px;
  overflow-wrap: anywhere;
  width: 80%;
}

.todoText:hover .todoText {
  -webkit-font-smoothing: subpixel-antialiased;
  backface-visibility: hidden;
  perspective: 1px;
}

.input {
  color: white;
  background-color: #af7eeb;
  border: none;
  border-bottom: 1px solid white;
  outline: none;
  padding: 2px;
}

.input::placeholder {
  color: white;
}

.submit {
  font-size: 40px;
  color: white;
  cursor: pointer;
  min-width: 50px;
  margin-left: 5px;
  border: none;
  background-color: transparent;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  margin: auto;
  width: 80%;
  max-width: 300px;
  background-color: #af7eeb;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 0 0 10px 10px;
}

.clearButton {
  color: #af7eeb;
  margin-top: 10px;
  width: 100px;
  cursor: pointer;
  font-size: 15px;
  border-radius: 20px;
  border: 0px;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: all 1s ease;
}

.clearButton:hover {
  background-color: rgba(244, 237, 255, 0.1);
  width: 130px;
}

@media (max-width: 668px) {
    .all {
      margin-top: 5%;
      align-items: center;
    }
  
    .titleBox,
    .form {
      max-width: 300px;
    }
  
    .boxEvent {
      max-width: 300px;
    }
    
  }
  