@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Unica+One&display=swap');

.all {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  margin-top: 10%;
}

.titleBox {
  margin: auto;
  width: 80%;
  max-width: 300px;
  background-color: #af7eeb;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px 10px 0 0;
  align-items: center;
  text-align: center;
}

.title {
  font-size: 25px;
  color: white;
}

.boxEvent {
  margin: auto;
  width: 80%;
  max-width: 300px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.box {
  width: 95%;
  margin: auto;
  display: flex;
  align-items: center;
  min-height: 40px;
  background-color: white;
  font-size: 15px;
  text-transform: lowercase;
  transition: background-color 0.5s ease, border-radius 0.5s ease, transform 0.5s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding-left: 5px;
  padding-right: 5px;
  transform-origin: center;
  z-index: 1;
}

.box:hover {
  background-color: rgb(232, 230, 237);
  border-radius: 45px;
  transform: scale(1.2);
  -webkit-font-smoothing: subpixel-antialiased;
  backface-visibility: hidden;
  z-index: 2;
  position: relative;
}
.box:hover .svg{
  transition: all 0.5s ease;
  width: 40px;
  -webkit-transform: translateX(-45%);
	transform: translateX(-45%);
}

.svg {
  text-align: center;
  width: 40px;
  transition: all 0.5s ease;

}

.todoText {
  /*to avoid blue highlight*/
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 5px;
  overflow-wrap: anywhere;
  width: 80%;
}

.todoText:hover .todoText {
  -webkit-font-smoothing: subpixel-antialiased;
  backface-visibility: hidden;
  perspective: 1px;
}

.input {
  font-size: 15px;
  color: white;
  background-color: #af7eeb;
  border: none;
  border-bottom: 1px solid white;
  border-bottom-left-radius: 0; /*for safari*/
  border-bottom-right-radius: 0;
  outline: none;
  padding: 2px;
}

.input::placeholder {
  color: white;
}
.submit {
  font-size: 40px;
  color: white;
  cursor: pointer;
  min-width: 50px;
  margin-left: 5px;
  border: none;
  background-color: transparent;
  transition: all 0.5s ease;
}
.submit:hover{
  opacity: 0.7;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  margin: auto;
  width: 80%;
  max-width: 300px;
  background-color: #af7eeb;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 0 0 10px 10px;
}

.clearButton {
  color: #af7eeb;
  margin-top: 10px;
  width: 100px;
  cursor: pointer;
  font-size: 15px;
  border-radius: 20px;
  border: 0px;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: rgb(255, 255, 255);
  transition: all 1s ease;
}

.clearButton:hover {
  width: 130px;
}

.shareContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; 
}

.shareButton{
  color: #af7eeb;
  margin-top: 10px;
  width: 150px;
  cursor: pointer;
  font-size: 15px;
  border-radius: 20px;
  border: 0px;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: rgb(255, 255, 255);
  transition: all 1s ease;
}
.shareButton:hover{
  width: 180px;
}

.shareInput {
  width: 100%;
  padding: 6px 10px;
  margin-top: 10px;
  margin-bottom: 2px;
  box-sizing: border-box;
  border: 2px solid #af7eeb;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 12px;
}



@media (max-width: 668px) {
    .all {
      margin-top: 8%;
      align-items: center;
    }
  
    .titleBox,
    .form {
      max-width: 300px;
    }
  
    .boxEvent {
      max-width: 300px;
    }
    .submit{
      padding-left: 10px;
    }
    
  }
  