@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Unica+One&display=swap');

.all{
    font-family: 'Roboto', sans-serif;
    margin-top: 12.5%;
   
}
.titleBox{
    padding: 2px;
    margin: auto;
    width: 30%;
    background-color: #af7eeb;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.title{
    font-size: 25px;
    color: white;
}
.boxEvent{
    margin: auto;
    background-color: white;
    width: 30%;
    margin-bottom: 10px;
    margin-top: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.box{
    width: 100%;
    margin: auto; 
    margin-bottom: 2px; 
    display: flex;
    align-items: center;
    min-height: 40px;
    background-color: white;
    font-size: 15px;
    text-transform:lowercase;

}
.box:hover {
    background-color: rgb(232, 232, 232);
}
.svg{
    width: 40px;
}
.todoText{

    /*to avoid blue highlight*/
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    padding: 5px;
    overflow-wrap: anywhere; 
}
.input{
    color: white;
    background-color: #af7eeb;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    padding: 2px;
}
.input::placeholder{
    color: white;
}
.submit{
    font-size: 40px;
    color: white;
    cursor: pointer;
    min-width: 50px;
    margin-left: 5px;
    border: none;
    background-color: transparent;
}
.form{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    margin: auto;
    width: 30%;
    background-color: #af7eeb;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.clearButton{
    color: #af7eeb;
    margin-top: 10px;
    width: 10%;
    cursor: pointer;
    font-size: 15px;
    border-radius: 20px;
    border: 0px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}